.single-select_container {
  max-height: 400px;
  overflow: hidden;

  .single-select_options {
    overflow: auto;
  }

  .single-select_search {
    width: 100%;
    height: 25px;
    position: relative;

    input {
      width: 100%;
      height: 100%;
      border: none;
      padding-left: $m;
      padding-bottom: $xs;
      font-family: Verdana, sans-serif;
      position: relative;
      display: inline-flex;
      background: $secondary-blue;
      color: $primary-black;
      border-radius: $l;
      line-height: 25px;

      &:focus {
        border-radius: $xs;
      }
    }
  }

  svg {
    display: inline-block;
    width: 1.45rem;
    height: 1.45rem;
    stroke-width: 0;
    stroke: $secondary-blue;
    fill: $secondary-blue;
  }

  .single-select_actions {
    min-height: 45px;
    background: $primary-white;
  }
}
