.config-dropdown_button {
  border-color: $secondary-white;
  color: $primary-black;

  &:focus {
    border-color: $secondary-blue;
  }

  &:hover:not(:focus) {
    border-color: $secondary-blue;
  }

  .config-dropdown_button_label {
    padding: 0 0.5rem 0 0;
    border-right: 1px solid $secondary-white;

    svg {
      display: inline-block;
      width: 1.45rem;
      height: 1.45rem;
      stroke-width: 0;
      stroke: rgb(66, 129, 164);
      fill: rgb(66, 129, 164);
    }
  }

  .config-dropdown_button_value {
    padding: 0 0 0 0.5rem;
  }
}
