#header {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 50px 1fr min-content;
  z-index: 1;
  align-items: center;

  #menu-logo {
    width: 45px;
    fill: $lighter-blue;
  }

  #header_dropdowns {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;

    > .config-dropdown-wrapper {
      @extend .m_l_5;
      @extend .m_r_5;

      &:last-child {
        margin-left: auto;
      }
    }
  }
}
