.p_3_6 {
  padding: 3px 6px;
}

.p_l_5 {
  padding-left: 5px;
}

.p_r_5 {
  padding-right: 5px;
}

.p_t_5 {
  padding-top: 5px;
}

.p_b_5 {
  padding-bottom: 5px;
}

.p_5 {
  @extend .p_l_5;
  @extend .p_r_5;
  @extend .p_t_5;
  @extend .p_b_5;
}

.p_l_0 {
  padding-left: 0;
}

.p_r_0 {
  padding-right: 0;
}

.p_t_0 {
  padding-top: 0;
}

.p_b_0 {
  padding-bottom: 0;
}

.p_0 {
  @extend .p_l_0;
  @extend .p_r_0;
  @extend .p_t_0;
  @extend .p_b_0;
}

.m_3_6 {
  margin: 3px 6px;
}

.m_l_5 {
  margin-left: 5px;
}

.m_r_5 {
  margin-right: 5px;
}

.m_t_5 {
  margin-top: 5px;
}

.m_b_5 {
  margin-bottom: 5px;
}

.m_5 {
  @extend .m_l_5;
  @extend .m_r_5;
  @extend .m_t_5;
  @extend .m_b_5;
}

.m_l_0 {
  margin-left: 0;
}

.m_r_0 {
  margin-right: 0;
}

.m_t_0 {
  margin-top: 0;
}

.m_b_0 {
  margin-bottom: 0;
}

.m_0 {
  @extend .m_l_0;
  @extend .m_r_0;
  @extend .m_t_0;
  @extend .m_b_0;
}

.m_l_auto {
  margin-left: auto;
}
