////////////////////
//      Black colors

// AAA with $primary-white background
$primary-dark: rgb(38, 50, 56);
// AA with $primary-white background
$disabled-dark: rgb(102, 121, 129);
// AAA with $primary-white background
$darker-dark: rgb(33, 33, 33);
// AAA with $primary-white background
$lighter-dark: rgb(59, 70, 75);

////////////////////
//      Blue colors

// AAA with $primary-white background
$primary-blue: rgb(47, 92, 117);
// AA with $primary-white background
$lighter-blue:rgb(74, 124, 153);

////////////////////
//      White colors

$primary-white: #fff;

////////////////////
//      Red colors

// AAA with $primary-white background
$primary-red: rgb(162, 19, 9);
// AAA with $primary-white background
$darker-red: rgb(90, 11, 5);
// AA with $primary-white background
$lighter-red:rgb(234, 28, 13);

////////////////////////////

$primary-purple: #9c27b0;
$secondary-purple: #4a148c;
$tertiary-purple: #ce93d8;

$primary-blue: rgb(66, 129, 164);
$primary-blue-op-1: rgba(66, 129, 164, 0.6);
$primary-blue-op-2: rgba(66, 129, 164, 0.2);
$secondary-blue: #0d47a1;
$tertiary-blue: #90caf9;

$primary-success: #4caf50;
$secondary-success: #1b5e20;
$tertiary-success: #a5d6a7;

$primary-warning: #ffc107;
$secondary-warning: #ff6f00;
$tertiary-warning: #ffe082;

$secondary-white: #f5f5f5;

////////////////////
//      SIZES
////////////////////
$zero: 0;
$xxs: 1px;
$xs: 3px;
$s: 5px;
$m: 8px;
$l: 12px;
$xl: 24px;
$xxl: 32px;
$f_size: 14px;
$f_line_height: calc(14px * 1.5);
