$primary-black: rgb(37, 36, 34);
$primary-white: rgb(255, 255, 255);
$primary-blue: rgb(54, 71, 128);
$primary-green: rgb(90, 179, 113);
$primary-yellow: rgb(215, 163, 57);
$primary-red: rgb(244, 67, 54);
$secondary-black: rgb(94, 94, 94);
$secondary-white: rgb(250, 246, 245);
$secondary-blue: rgb(152, 193, 217);
$secondary-green: rgb(194, 227, 203);
$secondary-yellow: rgb(241, 222, 184);
$secondary-red:rgb(252, 203, 199);

////////////////////
//      SIZES
////////////////////
$zero: 0;
$xxs: 1px;
$xs: 3px;
$s: 5px;
$m: 8px;
$l: 12px;
$xl: 24px;
$xxl: 32px;
$f_size: 14px;
$f_line_height: calc(14px * 1.5);
