// @import './border_module.scss';

// @import './layout_module.scss';
@import './_variables.module.scss';
@import './_spacing.module.scss';
@import './_layout.module.scss';
// @import './margin_module.scss';
// @import './padding_module.scss';
// @import './text_module.scss';

/*************************
 * RESET CSS
*************************/
html,
body {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba($primary-black, 0);
  height: 100%;
  width: 100%;
  font-size: $f_size;
  line-height: $f_line_height;
  text-align: left;
  color: $primary-black;
  font-family: Verdana, sans-serif;
  padding: 0;
  margin: 0;
  background: $secondary-white;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

::-moz-focus-inner {
  border: 0;
}

:focus {
  outline: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  font-weight: normal;
}

ol,
ul {
  list-style: none;

  @extend .p_0;
  @extend .m_0;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  // Workaround for the SVG overflow bug in IE10/11 is still required.
  // See https://github.com/twbs/bootstrap/issues/26878
  overflow: hidden;
  vertical-align: middle;
}

textarea {
  overflow: auto; // Remove the default vertical scrollbar in IE.
  // Textareas should really only resize vertically so they don't break their (horizontal) containers.
  resize: vertical;
}

button {
  // @extend .p_3_6;

  // height: 35px;
  // color: $primary-dark;
  // background: none;
  // font-size: 1rem;
  // font-family: Verdana, sans-serif;
  // border-radius: $s;
  // border: $xs solid $primary-blue-op-2;
  // white-space: nowrap;
  // text-overflow: ellipsis;
  // display: flex;
  // align-items: center;
  // position: relative;

  // &:focus {
  //   border-color: $primary-blue-op-1;
  // }

  // &:hover:not(:focus) {
  //   border-color: $primary-blue-op-1;
  // }
}
