#app-layout {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: minmax(auto, max-content) 1fr;
  overflow: hidden;

  #layout-header {
    @extend .p_3_6;

    background: $secondary-black;
    border-bottom: 2px solid $primary-white;
    height: 100%;
    width: 100%;
  }

  #layout-content {
    height: 100%;
    width: 100%;
    overflow: auto;
  }
}

#app-version {
  @extend .p_3_6;

  position: fixed;
  bottom: 0;
  right: 0;
  display: block;
  background: $primary-black;
  color: $primary-white;
  border-top-left-radius: $xs;
}
