#app-layout {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: minmax(auto, max-content) 1fr;
  overflow: hidden;

  #layout-header {
    @extend .p_3_6;

    background: #fff;
    box-shadow: lighten($disabled-dark, 40%) $zero $xxs $xs, lighten($lighter-dark, 40%) $zero $xxs $xs;
    height: 100%;
    width: 100%;
  }

  #layout-content {
    height: 100%;
    width: 100%;
    overflow: auto;
  }
}
